html{
   box-sizing: border-box; 
}

* {
    box-sizing: inherit;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

img {
    max-width: 100%;
}

img, #card {
    border-radius: 0.9375rem;
}

h1, p {
    margin: 0.9375rem 1.25x 0.9375rem 0;
    font-family: "Outfit", sans-serif;
    text-align: center;
}

h1{
color:  hsl(218, 44%, 22%);
font-size:1.4rem;
}

p {
margin-bottom: 1.875rem;
font-weight: 400;
color: hsl(220, 15%, 55%);
font-size: 1.1rem;
}

#card {
    max-width: 20rem;
    background-color:  hsl(0, 0%, 100%);
    padding: 0.9375rem;
}
